.about__header {
  height: 460px;
  color: var(--color-white) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_logo img {
  margin-left: 50px;
  width: 150px;
}

.about__header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white) !important;
}

.about__header__content > p {
  color: var(--color-white) !important;
}
.about__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about__team__wrap {
  padding: 60px 20px;
  display: flex;
  align-items: center;
}
.about__team__text_wrap {
  flex: 1;
  margin-right: 10%;
}

.about__illus_wrap {
  flex: 1;
}
.about__illus {
  width: 100%;
}
.about__team__list {
  display: grid;
  background-color: #f7fafd;
  padding: 40px 20px;
}

.about__join__team__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.about__join__our__team__layer {
  position: absolute;
  background: url(../img/team-bg.jpg) no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.about__join__our__team__layer::after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.about__detail__body {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
  /* transform: translateY(-100px); */
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.team__desc {
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .about__join__team__section {
    padding: 20px;
  }
  .about__detail__body {
    padding: 20px;
  }
  .about__detail__body > h2 {
    margin: 20px 0px;
  }
  .about__team__wrap {
    flex-direction: column-reverse;
  }
  .about__team__text_wrap {
    margin-top: 20px;
  }

  .about__team__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
}
@media (min-width: 576.1px) {
  .about__header__content {
    width: 400px;
  }
  .about__team__wrap {
    flex-direction: row;
  }
  .about__team__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
}

@media (min-width: 992px) {
  .about__detail__body {
    width: 50%;
    text-align: center;
  }

  .about__team__wrap {
    padding: 60px 80px;
  }

  .about__team__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    column-gap: 30px;
    padding: 60px 80px;
  }

  .contact {
    /* display: flex;
    justify-content: center; */
    padding: 40px 0px;
  }
  .contact__body {
    width: 90%;
    margin: auto;
  }
  .contact__header {
    height: 360px;
    color: var(--color-white) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact__header > p {
    color: var(--color-white) !important;
  }
  .header_logo img {
    margin-left: 50px;
    width: 150px;
  }
  
  
  
  .contact__form__wrap {
    display: flex;
  }
  .contact__form__section {
    background-image: linear-gradient(
      to right,
      rgb(0, 0, 254),
      rgb(81, 81, 228),
      rgb(142, 142, 230)
    );
    padding: 20px;
  }
  .contact__hero {
    flex: 1;
    margin-right: 40px;
    padding: 30px 0px;
  }
  .contact__hero > img {
    border-radius: 20px;
    width: 100%;
  }
  .contact__loc__phone__mail__wrap {
    display: grid;
    flex: 1;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 60px 40px 0px;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: center;
    background-image: url(../img/bg-map.png);
  }
  .contact__loc__phone__mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__loc__phone__mail a {
    padding: 5px;
  
  }
  /* .contact__loc__phone__mail phn_num {
    padding: 5px;
    font-size: 16px;
  } */
  
  .contact__loc__phone__mail a:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
  .contact__loc__phone__mail__badge {
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 22px;
    border: 1px solid var(--color-primary);
    transition: all 0.2s ease-in;
  }
  .contact__loc__phone__mail__badge:hover {
    background-color: transparent;
    color: var(--color-primary);
  }
  .contact__loc__phone__mail__wrap > :not(:last-child) {
    margin-bottom: 30px;
  }
  /* @media (max-width: 576px) {
    .contact__form__wrap {
      flex-direction: column;
    }
  } */
  @media screen and (max-width: 576px) {
    .contact__header {
      padding: 50px;
      text-align: center;
    }
    .contact__loc__phone__mail {
      padding: 40px 0px;
    }
    .contact__loc__phone__mail__wrap > :not(:last-child) {
      border-bottom: 1px solid var(--color-border);
    }
  }
  /* @media (max-width: 992px) {
    
  } */
  @media (min-width: 576.1px) {
    .contact__form__wrap {
      flex-direction: row;
    }
    .contact__loc__phone__mail__wrap {
      margin: auto;
    }
    .contact__loc__phone__mail__wrap > :not(:last-child) {
      border-right: 1px solid var(--color-border);
    }
    .contact__loc__phone__mail__wrap {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .contact__form__section {
      padding: 8%;
    }
    .contact__form {
      border-radius: 10px;
      padding: 40px;
    }
  }
  
}
