.blog__header {
  height: 460px;
  color: var(--color-white) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog__header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white) !important;
}

.blog__header__content > p {
  color: var(--color-white) !important;
}

.blog__read__more__btn {
  outline: none;
  border: none;
  background-color: var(--color-primary);
  color: white;
  height: 28px;
  padding: 0px 20px;
  border-radius: 14px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}
.blog__read__more__btn > i {
  margin-left: 10px;
  transition: all 0.5s ease;
}
.blog__read__more__btn:hover > i {
  margin-left: 20px;
}

.blog__first__image {
  width: 100%;
  height: 200px;
  background: url(../img/blog_pic.jpg);
  background-size: cover;
}
.blog__date__time {
  display: flex;
  align-items: center;
}
.blog__date__time > i {
  color: var(--color-primary);
  margin-right: 10px;
}
.blog__text__container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.blog__text__container > p {
  margin: 0;
}

.blog__post__card {
  box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
}

.blog__post__body {
  padding: 20px;
  overflow: hidden;
}

.blog__posts {
  display: grid;
}

@media screen and (max-width: 576px) {
  .blog__posts__wrapper {
    padding: 20px;
  }
  .blog__posts {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576.1px) {
  .blog__posts__wrapper {
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
  }
  .blog__posts {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .blog__header__content {
    width: 400px;
  }
}
.blog__posts__most__recent{
  padding: 50px;
  position: relative;
  margin: auto;
  width: 1000px;
  display: flex;
  align-self: center;
  flex-direction: row;
}
.blog__posts__most__recent img{
  height: 400px;
  padding: 10px;
}
.blog__posts__most__recent__details{
  vertical-align: middle;
  width: 400px;
  padding: 10px;
}
.blog__posts__most__recent__details p{
  width: 400px;
  margin: 10px;
}
.blog__posts__most__recent__details h2{
  width: 400px;
  margin: 10px;
}
.blog__posts__author{
  display: flex;
  vertical-align: middle;
}
.blog__posts__author__details{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.blog__posts__author > span {
  font-weight: lighter;
}

.blog__posts__author > img{
  max-width: 60px;
  max-height: 60px;
  padding-right: 10px;
}
