
.header_logo img {
  /* margin-left: 100px; */
  /* width: 100px; */

}

.contact__form__about__us{
  width: 30%;
  background-color: rgb(0, 26, 255);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: auto;
  text-align: center;
  position: relative;
}
.about__us{
  position: absolute;
  top: 15%;
  padding: 50px;
}
.contact__form_about__us__location p{
  color: #fff;
}
.contact__form_about__us__location img{
  width: 20%;
}

.contact__form_about__us__mail p{
  color: #fff;
  }
.contact__form_about__us__mail img{
  width: 20%;
}

.contact__form__wrap {
  display: flex;
}
.contact__form__section {
  /* display: flex; */
  padding: 20px;
}
.contact__form {
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
  width: 70%;
  height: 100%;
  text-align: center;
  background-color: var(--color-white);
  padding: 20px;
}
.contact__form > :not(:last-child) {
  margin-bottom: 20px;
}
.contact__form textarea {
  resize: none;
}
.contact__form__input__wrap {
  display: flex;
  align-items: center;
}
.contact__form__input__wrap > i {
  margin-right: 15px;
}
.contact__form__input__wrap__msg textarea{
  /* background-color: #000; */
  border: none
  ;
}
.contact__form > :nth-child(4) {
  align-items: flex-start;
}

.contact__form > :nth-child(4) > i {
  margin-top: 15px;
}
.contact__hero {
  flex: 1;
  margin-right: 40px;
  padding: 30px 0px;
}
.contact__hero > img {
  border-radius: 20px;
  width: 100%;
}
.contact__loc__phone__mail__wrap {
  display: grid;
  flex: 1;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 60px 40px 0px;
  margin-top: 20px;
  box-sizing: border-box;
  text-align: center;
  background-image: url(../img/bg-map.png);
}
.contact__loc__phone__mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__loc__phone__mail a {
  padding: 5px;

}
/* .contact__loc__phone__mail phn_num {
  padding: 5px;
  font-size: 16px;
} */

.contact__loc__phone__mail a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
.contact__loc__phone__mail__badge {
  margin-bottom: 25px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 22px;
  border: 1px solid var(--color-primary);
  transition: all 0.2s ease-in;
}
.contact__loc__phone__mail__badge:hover {
  background-color: transparent;
  color: var(--color-primary);
}
.contact__loc__phone__mail__wrap > :not(:last-child) {
  margin-bottom: 30px;
}
/* @media (max-width: 576px) {
  .contact__form__wrap {
    flex-direction: column;
  }
} */
@media screen and (max-width: 576px) {
  .contact__header {
    padding: 50px;
    text-align: center;
  }
  .contact__loc__phone__mail {
    padding: 40px 0px;
  }
  .contact__loc__phone__mail__wrap > :not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
}
/* @media (max-width: 992px) {
  
} */
@media (min-width: 576.1px) {
  .contact__form__wrap {
    flex-direction: row;
  }
  .contact__loc__phone__mail__wrap {
    margin: auto;
  }
  .contact__loc__phone__mail__wrap > :not(:last-child) {
    border-right: 1px solid var(--color-border);
  }
  .contact__loc__phone__mail__wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contact__form__section {
    padding: 8%;
  }
  .contact__form {
    /* height: 10%; */
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .close__bttn{
    width: 100px;
  }
  .contact__form__section{
    margin: auto;
  }

}
.request__us__header{
  /* background: url(/assets/img/contact_bg.jpg); */
  width: 100%;
  text-align: center;
}
.request__us__header div{
  padding:10px 40px;
}

.request__us__header div h2, h4{
  font-family: Montserrat;
  color: #112791;
}
.request__us__header h4{
  font-family: Readex Pro;
}
.request__us__header div h2{
  font-size: 35px;
  margin-top: 0%;
}
#modal-background{
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 50px;

}
#close-btn {
  align-self: baseline;
  margin-top: 10px;
  padding: 10px 50px;
  font-size: 50px;
  color: red;
  cursor: pointer;
}

#modal {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  animation-name: animatemodal;
  animation-duration: 0.4s;
}
.modal__contents{
  width: 100%;
}