.home__hero__wrap {
  /* display: flex; */
  padding: 70px 8%;
  height: 100vh;
}
.header_logo img {
  margin-left: 50px;
  width: 150px;
}
.home__hero__text {
  flex: 1;
  /* padding: 50px 0px; */

}
.home__hero__text > h1{
  color: var(--color-white);
  font-family: Readex Pro;
  font-weight: bolder;
  font-size: 80px !important;
  margin: 0px;
}
.home__hero__text > p {
  color: var(--color-white);
  font-family: Inter;
  font-size: 28px;
  padding-top: 10px;
  margin: 0;
}
.home__hero__text > button {
  display: flex;
  align-items: center;
  margin: 50px;
  background: none;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-family: Inter;
  font-weight: lighter;
}
.home__hero__text > button > svg{
  height: 30px;
}


.home__hero__text > h1 {
  font-size: 48px;
}

 .home__hero__button {
  width: 237px;
  height: 54px;
  font-weight: 300;
  color: var(--color-white);
  background-color:#FF7A59;
  /* background: rgb(3,5,219);
  background: linear-gradient(90deg, rgba(3,5,219,1) 35%, rgba(0,156,255,1) 100%);  */
  border-radius: 8px;
  border:none;
  outline:none;

}

.home__hero__image__wrap {
  flex: 1;
}
.home__hero__image__wrap img {
  width: 100%;
}




/* choose us */
.home__choose__us__wrap {
  /* background: url(/assets/img/test_bg.png); */
  padding: 50px 8%;
  /* background-color: #1E45F5; */
}

.home__choose__us__item {
  background-color: white;
  box-shadow: inset;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home__choose__us__item > img {
  height: 70px;
}

/* portfolio */
.Portfolio-head h2{
  width: 600px;
}

.home__portfolio__wrap {
  padding: 50px 8%;
}
.home__portfolio__wrap h2{
  font-size: 33px;
}
.home__portfolio__body{
  align-self: center;
  margin: 0;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:100px;
}

.home__portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 10px; */
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 8px;
}
.home__portfolio__item > img {
  max-width: 550px;
}
.home__portfolio__item {
  text-align: left;
  align-items: flex-start;
  max-width: 550px;
  margin: 10px;
  margin-bottom: 40px;
}

.home__portfolio__item > p {
  font-weight: lighter;
  font-size: 14px;
  margin: 5px 0px;
  
}
.home__portfolio__item > h3 {
  font-weight: bolder;
  font-size: 23px;
  margin: 5px 0px;
  color: #0000fe;
}
.home__portfolio__item  h3 :hover {
  color: green;
}
.home__portfolio__item > h4 {
  font-weight: lighter;
  font-size: 18px;
  margin: 0px;
  color: rgb(90, 89, 89);
}




.home__more__value__header > h2 {
  margin-top: 0px;
}

.home__more__value__header::before {
  content: "Advantage";
  color: #0000fe;
  font-size: 15px;
  font-weight: 150;
  margin-top: 3px;
  display: block;
}

.home__more__value__hero > img {
  width: 100%;
}
.home__more__value__content__item {
  display: flex;
  align-items: center;
}
.home__more__value__content__item > img {
  height: 20px;
  margin-right: 20px;
}
.home__more__value__content{
  
  font-size: 20px;
}

.home__more__value__content__item > p {
  margin: 8px 0px;
  font-size: 20px;
  font-family: Readex Pro;
  color: #5A5A5A;
}
.home__more__value__content > h4 {
  margin: 8px 0px;
  font-weight: bolder;
  font-family: Readex Pro;
  font-size: 30px;
}
.home__section__work__process {
  padding: 50px 8%;
  background: url(/assets/img/work_process.png);
  height: 80vh;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__section__work__process img{
  height: 80%;
}
.home__section__work__process button{
  display: flex;
  align-items: center;
  margin: 20px -25px;
  background: white;
  border: 2px solid white;
  color: #112591;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-family: Inter;
  font-weight: lighter;
}
.home__section__work__process button:hover{
  background-color: #112591;
  color: white;
  transition: 0.4s;
  border: none;
}
.home__section__work__process  button  svg{
  height: 30px;
}
.home__section__work__process button:hover svg{
  fill: white;
  color: white;
}
.work__process__content > ul{
  font-weight: lighter;
  font-size: 20px;
  color: white;
}
.work__process__content > h2{
  font-weight: bolder;
  font-size: 40px;
  color: white;
}
.home__section{
  padding: 50px 8%;
}
.home__service {
  background-color: #f7fafd;
}

.home__service__header > h2 {
  margin-top: 0px !important;
}

.home__service__header::before {
  content: "Solutions";
  color: #0000fe;
  font-size: 1px;
  font-weight: 150;
  margin-top: 3px;
  display: block;
}


.home__service__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home__service__body > :not(:last-child) {
  border-bottom: 1px solid var(--text-color-dark-tintS);
}
.home__service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px 10px;
}
.home__service__item > img {
  height: 80px;
}
.home__section__work__process__body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.home__section__work__process__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 0px 10px;
}
.home__section__work__process__item > img {
  height: 80px;
}
.home__section__work__process__item:hover {
  transform: scale(1.1);
  /* background-color: #0000fe; */
  transition-duration: .6s;
}


.home__people__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.home__people__item span {
  color: var(--color-primary);
  font-size: 15px;
}
.home__people__item p {
  font-size: 15px;
}
.home__people__item__img__wrap {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  overflow: hidden;
  border: 2px solid var(--color-primary);
  padding: 4px;
  margin: auto;
}

.home__people__item__img__wrap > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home__people__item__img__wrap__nav {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid var(--color-primary);
  padding: 3px;
  margin: auto;
}
.home__people__item__img__wrap__nav > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home__people__item__nav {
  max-width: 300px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.home__people__item__nav .slick-slide {
  opacity: 0.6;
}
.home__people__item__nav .slick-current {
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .home__hero__wrap {
    flex-direction: column;
    padding: 30px;
    text-align: center;
  }
 
  .home__hero__text > h1 {
    font-size: 36px;
  }
  .home__hero__image__wrap{
    margin-top:30px
  }
  .home__choose__us__body > :not(:last-child) {
    border-bottom: 2px solid var(--footer-bg);
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
  .home__more__value__wrap {
    padding: 30px;
  }


  .home__service__body {
    grid-template-columns: 1fr;
  }
  .home__service__body > :not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
  .home__section__work__process {
    grid-template-columns: 1fr;
  }
  .home__section__work__process__body > :not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
}

@media screen and (min-width: 577px) {
.home__hero__wrap{
  align-items: center;
}
  .home__choose__us__body {
    display: flex;
  }
  .home__choose__us__item {
    padding: 40px;
    flex: 1;
  }
  .home__more__value__wrap {
    padding: 50px 8%;
  }
  .home__more__value__body {
    display: flex;
    align-items: center;
  }
  .home__more__value__hero {
    flex: 1;
    margin-right: 50px;
  }
  .home__more__value__content {
    flex: 1;
  }
  .home__service__body {
    row-gap: 30px;
  }
  .home__service__body > :nth-of-type(odd) {
    border-right: 1px solid var(--color-border);
  }
  /* .home__section__work__process__body {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  } */
  .home__section__work__process__body > :nth-of-type(odd) {
    border-right: 1px solid var(--color-border);
  }
  .home__people__item {
    flex-direction: row;
    text-align: left;
  }
  .home__people__item__img__wrap {
    flex-shrink: 0;
    margin-right: 30px;
  }

  .pricings {
    background-color: #F8FAFE;
    display: inline-flex;
    padding: 50px 8%;
    width: fit-content;

  }

  .xs-single-pricing {
    margin: 20px;
    width: 350px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 10px 0 rgb(0 0 0 / 8%);
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 8%);
    text-align: center;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #efefef;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    overflow: hidden;
    display: block;
}
.xs-single-pricing .pricing-header {
  margin-bottom: 40px;
}
.xs-single-pricing .pricing-header .xs-content-title {
  margin-bottom: 25px;
}
.xs-single-pricing .pricing-img-block {
  margin-bottom: 25px;
}
.pricing-img-block img{
    height: auto;
    max-width: 300px;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

}
.price-table {
  color: #0c5adb;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
}
.pricing-header h3{
  font-weight: bold;
  font-size: 28px;
}
.pricing-header h2{
  font-size: 50px;
}
.pricing-body {
  margin-bottom: 35px;
}
.xs-pricing-group .tab-pane .xs-single-pricing .btn {
  height: 45px;
  line-height: 45px;
  border-radius: 22.5px;
  padding: 0 39px;
}

.xs-list li{
  margin-top: 10px;
}
.xs-single-pricing-alt2 {
  margin: 20px;
  width: 350px;
  background-color: #1E45F5;
  -webkit-box-shadow: 0 10px 10px 0 rgb(0 0 0 / 8%);
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 8%);
  text-align: center;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #efefef;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  overflow: hidden;
  display: block;
}
.xs-single-pricing-alt2 h2{
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
}
.xs-single-pricing-alt2 h3{
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}
.pricing-header-two h2{
  font-size: 50px;
}
.xs-list-two{
  padding-top: 30px;
}
.xs-list-two li{
  margin-top: 10px;
  color: #fff;
}
.btn btn-primary{

    height: 45px;
    line-height: 45px;
    border-radius: 22.5px;
    padding: 0 39px;}

}


/* ~~~~~~~~~~~~~~~~~ STYLE 4 SERICE SECTION ~~~~~~~~~~~~ */
.container-4-service-grids{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 0px 10px;
  padding: 50px 8%;
}

.container-4-service-grids > div {
  /* border: 4px solid #efefef; */
  padding: 30px;
}
.service > h1{
  color: rgb(233, 230, 230);
}
.services__heading h2{
  font-family: Readex Pro;
  font-size: 50px;
  font-weight: bolder;
  width: fit-content;
  margin: auto;
  padding: 50px 0;
}


@keyframes raise-bg{
  0% {background-color: blue; left: 0px; top: 0px;}
  25% {background-color: blue; left: 20px; top: 0px;}
  50% {background-color: blue; left: 0px; top: 0px;}
  75% {background-color: blue; left: 0px; top: 0px;}
  100% {background-color: blue; left: 0px; top: 0px;}
}

/* .service:hover{
  animation-name: raise-bg;
  animation-duration: 10s;
  color: #fff;
} */

/* testint reversing */
.service{
  height: 330px;
  position: relative;
  border: 1px solid #EFEFEF;
  background: url(/assets/img/drug.png);
  /* box-shadow: 3px 3px #0000fe; */
}
.service h1{
  font-family: Readex Pro;
  font-weight: bolder;
  font-size: 28px;
}
.reverse_colors {
  border: 4px solid #efefef;
  padding: 0px 30px;
  padding-top: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1839CF;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.reverse_content > h1, p {
  color: white;
}
.reverse_colors > h1 {
  color: white;
}
.service:hover .reverse_colors{
  height: 100%;
}

/* portfolio card */
.home__portfolio__body{
  padding: 50px 0;
  display: grid;
  grid-template-columns: 30% 30% 30% 30%;
  gap: 50px

}
.portfolio__card{
  /* margin: 10px; */
  width: 100%;
  position: relative;
  /* border: 1px solid black; */
}
.portfolio__card h4{
  font-family: Readex Pro;
  font-weight: bold;
  font-size: 28px;
  padding-top: 20px;
  padding: 0 10px;
  color: #efefef;
}
.portfolio__card p{
  font-family: Inter;
  padding: 0 10px;
  color: #efefef !important;
  font-size: 10px;

}
.portfolio__card:hover{
  transform: scale(1.1);
  transition: .3s;
}

.portfolio__card img{
  width: 100%
}
.portfolio__card__label{
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.851);
}
.portfolio__card__label h4{
  margin: 0;
}