@media screen and (max-width:500px) {
.header_logo img{
        margin: 10px;
        width: 5.2rem;
}
.image__box {
    width: 100% !important;
}
.image__box img{
    width: 100% !important;
}
.home__hero__text > h1{
    font-size: 40px !important;
    text-align: left;
}
.services__heading h2{
    font-size: 35px !important;
    padding: 20px 10px;
}   
.home__section__work__process{
    padding:20px 0;
    
}
.work__process__heading h2{
    font-size: 35px !important;
    padding: 1px 0px; 
    text-align: center;
}
.work__process__heading svg{
   width: 44px;
}
.work__process__content{
    padding: 0 10px;
    margin: 0;
    gap: 10px;
    display: flex;

}
.home__hero__text > p{
    font-size: 18px !important;
    text-align: left;
}
.container-service-grids ,.container-hub-grids,.price__plans{
    padding: 0;
    gap: 10px;
}
.brands__banner{
    padding: 0;
}
.grid__brands  {
    padding: 10px;
}
.grid__brands img {
    width: 4rem;
    height: 4rem;
}
.container-4-service-grids{
    display: block;
}

.price__plans{
    padding: 20px 10px;
}

}

@media screen and (max-width:350px) {
    .container-service-grids{
        grid-template-columns: 1fr 1fr !important;
        text-align: center;
        width: fit-content;
        margin: 10px;
    }
    .price__plans{
        grid-template-columns: 1fr;
    }
 
}
   .container-service-grids .services , .container-hub-grids .services{
        text-align: center;
        width: fit-content;
        margin: 0 auto;
        /* background-color: black; */
    }

@media screen and (max-width:860px) {
    .blog__posts__most__recent{
      display: block;
      padding: 20px;
    }
    .blog__posts__most__recent__details{
         width: 100%;
       }


    .intro__brief{
        width: 100%;
        padding: 20px;
        display: block;
    }
    .intro__brief p{
        width: 100% !important;
        padding: 5px !important;
    }
    .intro__brief img{
        width: 80% !important;
        display: flex;
        margin: auto;
        
    }
    .home__choose__us__body{
        background-color: rgb(225, 243, 255);
        padding: 20px 0;
    }
    .home__choose__us__item{
        width: 70%;
        margin: auto;
        text-align: center;
    }
    .about__team__text_wrap{
        width: 100%;
        margin: 0;
    }
    .contact__form__wrap img{
        width: 80%;
        margin: auto;
        display: flex
    }
    .contact__loc__phone__mail__wrap{
        width: 80%;
        margin: auto;
        
    }
  }